*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none
  box-sizing: border-box

body
  padding: 0
  margin: 0
  background: #0E0E10
  color: #ffffff
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 150%

a
  color: #9146FF
  &:hover, &:visited
    color: rgb(119, 44, 232)

.flex
  display: flex

.topnav
  background: #18181B
  height: 50px
  width: 100%
  display: flex
  padding: 0 20px
  align-items: center
  justify-content: space-between

  h1
    font-size: 18px
    line-height: 120%
    margin-left: 10px

  .avatar
    margin-left: 10px

  &__left, &__right
    display: flex
    align-items: center

.avatar
  width: 30px
  height: 30px

  img
    width: 100%
    height: auto
    border-radius: 50%

.button
  padding: 10px
  height: 30px
  background: #9146FF
  border: none
  border-radius: 4px
  display: flex
  align-items: center
  justify-content: center
  color: #ffffff
  white-space: nowrap

  &:hover
    background: rgb(119, 44, 232)
    cursor: pointer

  &__icon
    background: transparent

  &__small
    font-size: 11px
    height: 18px
    border-radius: 2px

  &__secondary
    background: rgba(255, 255, 255, 0.15)
    bo

.container
  max-width: 1040px
  margin: 0 auto
  padding: 20px 0

.banner
  background: #1F1F23
  border-radius: 6px
  padding: 20px
  display: flex
  justify-content: space-between
  font-size: 12px

  h4
    margin: 0
    padding: 0
    font-size: 14px

  p
    padding-bottom: 0
    margin-bottom: 0

.panel
  background: #1F1F23
  border-radius: 6px
  margin-top: 20px

  &__header
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    padding: 20px

    h2
      font-size: 18px
      color: #efeff1
      margin: 0
      padding: 0

  &__content
    padding: 20px
    font-size: 12px

.emote

  &__container
    display: flex
    align-items: center
    background: #26262C
    border-radius: 2px
    padding: 10px
    width: calc(92% / 5)
    margin: 0 10px 10px 0

    img
      margin-right: 10px
      width: 28px
      height: 28px

  &__input
    margin-right: 20px

.tier
  display: flex
  margin-bottom: 30px

  &__title
    width: 120px

  p
    margin: 0
    padding: 0
    font-size: 12px
    color: #efeff1

small
  font-size: 12px
  color: #ADADB8

.modifier
  margin: 20px 0
  display: inline-flex
  align-items: center

  &__button
    border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 3px
    height: 24px
    width: 28px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 0 0 10px

    &:hover
      cursor: pointer

    &--dotted
      border: 2px dashed rgba(255, 255, 255, 0.25)

.drag

  &__container
    width: 100%

    .emote__container
      display: inline-flex

  &__area
    display: flex
    flex-wrap: wrap

    .add-button__container p
      bottom: -10px

.progress
  background: rgba(255, 255, 255, 0.2)
  width: 100%
  height: 4px
  border-radius: 1000px
  margin: 10px 0

  &__bar
    background: #9146FF
    width: 50%
    height: 4px
    border-radius: 1000px

.add-button
  border: 1px dashed #ADADB8
  display: flex
  align-items: center
  justify-content: center
  height: 44px
  width: 100%

  &__container
    display: inline-flex
    width: calc(92% / 5)
    position: relative

    p
      position: absolute
      bottom: -25px
      width: 100%
      text-align: center
      color: #ADADB8
      font-size: 11px

.popover
  position: absolute
  background: #18181B
  display: flex
  justify-content: space-between
  padding: 10px
  border-radius: 6px
  z-index: 2
  left: -75px

  .modifier__button
    margin: 0

    &:not(:last-of-type)
      margin: 0 10px 0 0

  &__container
    position: relative
